<header class="bg-white h-16 border-b-2 border-blue-600 shadow-sm shadow-blue-600">
  <nav class="flex justify-center bg-gradient-to-t from-gray-900 to-black mx-auto h-full">
    <ul class="flex items-center justify-center gap-[5vw]">
      <li>
        <a class="hover:text-blue-500 text-blue-800 text-lg font-bold font-sans transition ease-in-out duration-700"
          href="">Home</a>
      </li>
      <li>
        <a class="hover:text-blue-500 text-blue-800 text-lg font-bold font-sans transition ease-in-out duration-700"
          href="">Education</a>
      </li>
      <li>
        <a class="hover:text-blue-500 text-blue-800 text-lg font-bold font-sans transition ease-in-out duration-700"
          href="">About Me</a>
      </li>
      <li>
        <a class="hover:text-blue-500 text-blue-800 text-lg font-bold font-sans transition ease-in-out duration-700"
          href="">Projects</a>
      </li>
      <li>
        <a class="hover:text-blue-500 text-blue-800 text-lg font-bold font-sans transition ease-in-out duration-700"
          href="">Contact Me</a>
      </li>
    </ul>
  </nav>
</header>
<main class="font-sans">
  <div class="h-[400px] bg-gradient-to-br from-blue-950 to-black grid grid-cols-2 gap-2">
    <div class="flex flex-col px-6 justify-center">
      <div class="overflow-hidden whitespace-nowrap pr-5 text-6xl text-white font-bold w-fit">Hello! I'm</div>
      <div
        class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5 text-6xl text-sky-200 font-bold w-fit">
        Sibusiso Makhoba</div>
    </div>
    <div>

    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="text-6xl font-bold text-center py-8">
      My Journey
    </div>
    <div class="h-[600px] grid grid-flow-row gap-2">
      <div
        class="flex flex-row justify-between m-4 p-4 bg-gradient-to-br from-blue-950 to-black w-fit rounded shadow-lg">
        <div>
          <div class="text-4xl font-bold text-left text-white">Lyttelton Manor</div>
          <div class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime odio quis dignissimos
            voluptatum, officia
            aut recusandae commodi quo ea sint! Inventore voluptates ipsam vitae repellendus quia ducimus reprehenderit
            delectus et?</div>
        </div>
        <div>

        </div>
      </div>
      <div
        class="flex flex-row justify-between m-4 p-4 bg-gradient-to-br from-blue-950 to-black w-fit rounded shadow-lg">
        <div>

        </div>
        <div>
          <div class="text-4xl font-bold text-left text-white">University of Pretoria</div>
          <div class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime odio quis dignissimos
            voluptatum, officia
            aut recusandae commodi quo ea sint! Inventore voluptates ipsam vitae repellendus quia ducimus reprehenderit
            delectus et?</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="text-6xl w-[520px] font-bold text-center py-8">
      Let me tell you something about Myself...
    </div>
    <div class="carousel w-2/3 h-[400px] m-4 rounded-2xl shadow-lg shadow-black">
      <div id="slide1" class="carousel-item relative w-full">
        <div class="card relative bg-base-100 image-full w-full shadow-xl">
          <figure>
            <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Societal Involvement</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At explicabo asperiores quasi est non quidem
              enim, iste soluta laudantium, dicta commodi ad alias nemo culpa, facilis consectetur assumenda maxime.
              Quas?</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide4" class="btn btn-circle">❮</a>
              <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
          </div>
        </div>
      </div>
      <div id="slide2" class="carousel-item relative w-full">
        <div class="card relative bg-base-100 image-full w-full shadow-xl">
          <figure>
            <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Extra-curricular Activities</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At explicabo asperiores quasi est non quidem
              enim, iste soluta laudantium, dicta commodi ad alias nemo culpa, facilis consectetur assumenda maxime.
              Quas?</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide1" class="btn btn-circle">❮</a>
              <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
          </div>
        </div>
      </div>
      <div id="slide3" class="carousel-item relative w-full">
        <div class="card relative bg-base-100 image-full w-full shadow-xl">
          <figure>
            <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Hobbies</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At explicabo asperiores quasi est non quidem
              enim, iste soluta laudantium, dicta commodi ad alias nemo culpa, facilis consectetur assumenda maxime.
              Quas?</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Buy Now</button>
            </div>
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide2" class="btn btn-circle">❮</a>
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[640px] bg-gradient-to-br from-blue-950 to-black">
    <div class="text-6xl font-bold text-center text-white py-8">
      What I have done so far!
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="card glass w-96 m-4">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="car!" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-white">Life hack</h2>
          <p class="text-white">How to park your car at your garage?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Learn now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="text-6xl font-bold text-center py-8">
      Contact Me!
    </div>
    <div>
      <form class="form">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Email">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="Enter Subject">
        </mat-form-field>
      
        <mat-form-field class="w-full">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Enter Message..." [rows]="4"></textarea>
        </mat-form-field>

        <div class="flex flex-row-reverse px-3">
          <button mat-flat-button class="bg-blue-800">Send</button>
          <button mat-stroked-button>Reset</button>
        </div>
      </form>
    </div>
  </div>
</main>
<footer>
  <div class="font-bold text-sm m-4">&copy; Sibusiso Tshegofatso Makhoba</div>
</footer>